body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .header-icon {
    width: 50px;
  }

  .header-figure,
  .header-logo {
    height: 100%;
  }

  .social-media {
    display: none;
  }

  .main {
    width: 100%;
    padding-left: 3rem;
  }

  .company {
    margin-top: 2rem;
    margin-right: 15px;
  }

  .company-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-block: 5px;
    color: #eb6a22;
  }

  .company-title {
    width: 70%;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .company-paragraph {
    margin-bottom: 20px;
  }
  .company-paragraph-last,
  .company-paragraph {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .introduction-figure {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
  }

  .introduction-image {
    width: 80%;
    height: 100%;
    filter: brightness(1.1);
    filter: saturate(1.5);
  }
  .treinee {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  #triangle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0 50vw 50rem 0;
    border-color: transparent #f4732a transparent transparent;
    transform: rotate(0deg);
  }

  .treinee-section {
    padding-top: 50px;
    text-align: center;
    background-color: var(--primary-color);
  }
  .treinee-title {
    font-weight: 400;
    color: #474141;
    text-align: center;
  }
  .treinee-paragraph {
    padding-right: 20px;
    margin-inline: auto;
    margin-block: 30px;
    color: #ff7a00;
  }

  .treinee-information {
    display: flex;
    justify-content: center;
  }
  .treinee-name {
    padding-inline: 2px;
    font-weight: 200;
  }
  .treinee-function {
    font-weight: 500;
  }

  .treinee-form {
    margin-inline: 10px;
    margin-block: 20px;
    z-index: 1;
    height: 300px;
    background-color: #ffffff;
    border: 2px solid #fa732a;
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    padding-inline: 20px;
    padding-block: 10px;
  }
  .treinee-form-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
  }

  .treinee-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
  }

  .treinee-form-input {
    background-color: #d9d9d9;
    width: 60%;
    max-width: 250px;
    height: 40%;
    max-height: 70px;
    margin-inline: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
  }
  .treinee-form-input::placeholder {
    color: #000000;
  }

  .treinee-form-button {
    margin-inline: auto;
    width: 40%;
    min-width: 80px;
    max-width: 90px;
    background-color: #f4732a;
    color: #ffffff;
    padding-block: 10px;
    border-radius: 10px;
  }
  .treinee-figure {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .treinee-figure-image {
    width: 200px;
    margin-inline: auto;
  }

  .footer {
    background-color: var(--secondary-color);
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-image {
    height: 80%;
    max-height: 150px;
    align-self: center;
  }
}
