@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  --primary-color: #ffffff;
  --secondary-color: #000000;
  font-family: "Montserrat", sans-serif;
}
